In [2]:
import pandas as pd

In [3]:
# Create a Series from a list
ages = pd.Series([22, 35, 58], name='Age')
print(ages)

0    22
1    35
2    58
Name: Age, dtype: int64

In [7]:
# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
# Assuming you have a 'data.csv' file in the same directory
# df = pd.read_csv('data.csv')

In [11]:
print(df.head()) # Shows the first few rows
print(df.info())   # Gives a technical summary

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [12]:
# Select a single column
ages = df['Age']

# Select multiple columns
name_and_city = df[['Name', 'City']]

In [13]:
# Select the first row (index 0)
print(df.loc[0])

# Select the second row (position 1)
print(df.iloc[1])

# Select rows 0 and 2, and columns 'Name' and 'Age'
print(df.loc[[0, 2], ['Name', 'Age']])

Name       Alice
Age           25
City    New York
Name: 0, dtype: object
Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object
      Name  Age
0    Alice   25
2  Charlie   35